
/* css */

body {
  background-color: ##81C72F;
}

.nadasurf {
	position:fixed; left:50px; top:190px; color:white;
}

.sensefield {
	position:fixed; left:50px; top:210px; color:white;
}

.allages {
	position:fixed; left:50px; top:255px; color:white;
}

.wednesday {
	position:fixed; left:430px; top:190px; color:white;
}

.oct {
	position:fixed; left:430px; top:210px; color:white;
}

.ikon{
	position:fixed; top:190px; right:110px; color:white;
}

.tulsa{
	position:fixed; top:210px; right:42px; color:white;
}
