
/* css */
.design {
  background-color: green;
  padding: 15px;
}

body {
  background-color: #92a8d1;
}

.nadasurf {
	position:absolute; left:50px; top:190px; color:white;
}

.sensefield {
	position:absolute; left:50px; top:210px; color:white;
}

.allages {
	position:absolute; left:50px; top:255px; color:white;
}

.wednesday {
	position:absolute; left:430px; top:190px; color:white;
}

.oct {
	position:absolute; left:430px; top:210px; color:white;
}

.ikon{
	position:absolute; top:190px; right:110px; color:white;
}

.tulsa{
	position:absolute; top:210px; right:42px; color:white;
}
