
/* css */

div {
  background-color: #81C72F;
}

.nadasurf {
	position:absolute;
  left:430px;
  top:190px;
  color:white;
}

.sensefield {
	position:absolute;
  left:430px;
  top:210px;
  color:white;
}

.allages {
	position:absolute;
  left:430px;
  top:255px;
  color:white;
}

.wednesday {
	position:absolute;
  left:830px;
  top:190px;
  color:white;
}

.oct {
	position:absolute;
  left:830px;
  top:210px;
  color:white;
}

.ikon{
	position:absolute;
  top:190px;
  right:528px;
  color:white;
}

.tulsa{
	position:absolute;
  top:210px;
  right:460px;
  color:white;
}

.na{
	position:absolute;
  left:430px;
  top:1px;
  color:white;
  font-size: 5000%;
}

.da{
	position:absolute;
  top:210px;
  right:460px;
  color:white;
  font-size: 1500%;
}
